{extends file = "default.html"}
{block name=content}
                                <br>
                                <h2>Użytkownicy</h2>
                                <br>

                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr >
                                                <th>Login</th>
                                                <th>Rola</th>
                                                <th>Data aktywacji</th>
                                                <th>Data deaktywacji</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Winner228</td>
                                                <td><form id="edit-user" method="post" action="#">
                                                    <select name="role" id="role">
                                                        <option value="user">Użytkownik</option>
                                                        <option value="worker">Pracownik</option>
                                                        <option value="admin">Administrator</option>
                                                    </select>
                                                </form></td> 
                                                <td>09.05.2024</td>
                                                <td> — </td>
                                                <td>
                                                    <input form="edit-user" class="primary" type="submit" name="user-role" id="user-role" value="Edytuj">
                                                </td>                                        
                                            </tr>
                                            <tr>
                                                <td>Winner228</td>
                                                <td><form id="edit-user" method="post" action="#">
                                                    <select name="role" id="role">
                                                        <option value="user">Użytkownik</option>
                                                        <option value="worker">Pracownik</option>
                                                        <option value="admin">Administrator</option>
                                                    </select>
                                                </form></td> 
                                                <td>09.05.2024</td>
                                                <td> — </td>
                                                <td>
                                                    <input form="edit-user" class="primary" type="submit" name="user-role" id="user-role" value="Edytuj">
                                                </td>                                        
                                            </tr>
                                            <tr>
                                                <td>Winner228</td>
                                                <td><form id="edit-user" method="post" action="#">
                                                    <select name="role" id="role">
                                                        <option value="user">Użytkownik</option>
                                                        <option value="worker">Pracownik</option>
                                                        <option value="admin">Administrator</option>
                                                    </select>
                                                </form></td> 
                                                <td>09.05.2024</td>
                                                <td> — </td>
                                                <td>
                                                    <input form="edit-user" class="primary" type="submit" name="user-role" id="user-role" value="Edytuj">
                                                </td>                                        
                                            </tr>
                                            <tr>
                                                <td>Winner228</td>
                                                <td><form id="edit-user" method="post" action="#">
                                                    <select name="role" id="role">
                                                        <option value="user">Użytkownik</option>
                                                        <option value="worker">Pracownik</option>
                                                        <option value="admin">Administrator</option>
                                                    </select>
                                                </form></td> 
                                                <td>09.05.2024</td>
                                                <td> — </td>
                                                <td>
                                                    <input form="edit-user" class="primary" type="submit" name="user-role" id="user-role" value="Edytuj">
                                                </td>                                        
                                            </tr>
                                            <tr>
                                                <td>Winner228</td>
                                                <td><form id="edit-user" method="post" action="#">
                                                    <select name="role" id="role">
                                                        <option value="user">Użytkownik</option>
                                                        <option value="worker">Pracownik</option>
                                                        <option value="admin">Administrator</option>
                                                    </select>
                                                </form></td> 
                                                <td>09.05.2024</td>
                                                <td> — </td>
                                                <td>
                                                    <input form="edit-user" class="primary" type="submit" name="user-role" id="user-role" value="Edytuj">
                                                </td>                                       
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
						</div>
					</div>
{/block}