{extends file = "default.html"}
{block name=content}
							<!-- Content -->
								<section>
									<header class="main">
										<h1>Leaf Relief</h1>
									</header>

									<!-- Content -->
										

									<hr class="major" />
                                    <!-- Form -->
													

													<form method="post" action="#">
														<div class="row gtr-uniform">
															<div class="col-6 col-12-xsmall">
																<input type="text" name="demo-name" id="demo-name" value="" placeholder="Login" />
															</div>
															<div class="col-6 col-12-xsmall">
																<input type="email" name="demo-email" id="demo-email" value="" placeholder="Password" />
															</div>
															
														</div>
                                                    </form>    

									<!-- Elements -->
										
										<div class="">
											<div class="col-6 col-12-medium">
													<div class="">
														<div class="col-6 col-12-small">
															<ul class="actions stacked">
																<li><a href="index.html" class="button primary fit">Zaloguj się</a></li>
																<li><a href="{url action = "registration_display"}" class="button fit">Zarejestruj się</a></li>
															</ul>
														</div>
													</div>
											</div>
										</div>

								</section>

						</div>
					</div>
{/block}