{extends file="default.html"}

{block name=content}

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Leaf Relief</h1>
            <p>Opis sklepu</p>
        </header>
        <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
    </div>
    <span class="image object">
        <img src="{$conf}/../app/views/images/default.jpg" alt="" />
    </span>
</section>

<!-- Section -->
<section id="about">
    <header class="major">
        <h2>O nas</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon" style="text-align: center; display: flex; justify-content: center; align-items: center;"><img src="{$conf}/../app/views/images/tournament-cup.png" width="60%" alt="#"></span>
            <div class="content">
                <h3>Najlepsi na rynku</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon" style="text-align: center; display: flex; justify-content: center; align-items: center;"><img src="{$conf}/../app/views/images/box.png" width="65%" height="65%" alt="#"></span>
            <div class="content">
                <h3>Odbiór osobisty </h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-gem"></span>
            <div class="content">
                <h3>Gwarancja jakości</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-rocket"></span>
            <div class="content">
                <h3>Szybka dostawa </h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
    </div>
</section>
</div>
</div>

{/block}