{extends file = "default.html"}
{block name=content}
                                <br>
                                <h2>Lista produktów</h2>
                                <br>

                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr >
                                                <th>Zdjęcie</th>
                                                <th>Nazwa</th>
                                                <th>Opis</th>
												<th>Typ</th>
                                                <th>Cena</th>
                                                <th></th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="display: inline-flex; vertical-align: -150%;"><img style="border-radius: 5px;" width="40%" src="{$conf}/../app/views/images/small.jpg" alt="#"></td>
                                                <td>Item1</td>
                                                <td>Ante turpis integer aliquet porttitor.</td>
												<td>One</td>
                                                <td>29.99</td>
                                                <td> <form method="post" action="#">
                                                    <a href="{url action = "edit_products_list_worker_display"}" class="button">Edytuj</a>
                                                    <input type="submit" name="delete-item" id="delete-item" value="usunąć" class="primary">
                                                </form></td>                                            
                                            </tr>
                                            <tr>
                                                <td style="display: inline-flex; vertical-align: -150%;"><img style="border-radius: 5px;" width="40%" src="{$conf}/../app/views/images/small.jpg" alt="#"></td>
                                                <td>Item1</td>
                                                <td>Ante turpis integer aliquet porttitor.</td>
												<td>One</td>
                                                <td>29.99</td>
                                                <td> <form method="post" action="#">
                                                    <a href="{url action = "edit_products_list_worker_display"}" class="button">Edytuj</a>
                                                    <input type="submit" name="delete-item" id="delete-item" value="usunąć" class="primary">
                                                </form></td>                                            
                                            </tr>
                                            <tr>
                                                <td style="display: inline-flex; vertical-align: -150%;"><img style="border-radius: 5px;" width="40%" src="{$conf}/../app/views/images/small.jpg" alt="#"></td>
                                                <td>Item1</td>
                                                <td>Ante turpis integer aliquet porttitor.</td>
												<td>Two</td>
                                                <td>29.99</td>
                                                <td> <form method="post" action="#">
                                                    <a href="{url action = "edit_products_list_worker_display"}" class="button">Edytuj</a>
                                                    <input type="submit" name="delete-item" id="delete-item" value="usunąć" class="primary">
                                                </form></td>                                            
                                            </tr>
                                            <tr>
                                                <td style="display: inline-flex; vertical-align: -150%;"><img style="border-radius: 5px;" width="40%" src="{$conf}/../app/views/images/small.jpg" alt="#"></td>
                                                <td>Item1</td>
                                                <td>Ante turpis integer aliquet porttitor.</td>
												<td>One</td>
                                                <td>29.99</td>
                                                <td> <form method="post" action="#">
                                                    <a href="{url action = "edit_products_list_worker_display"}" class="button">Edytuj</a>
                                                    <input type="submit" name="delete-item" id="delete-item" value="usunąć" class="primary">
                                                </form></td>                                            
                                            </tr>
                                            <tr>
                                                <td style="display: inline-flex; vertical-align: -150%;"><img style="border-radius: 5px;" width="40%" src="{$conf}/../app/views/images/small.jpg" alt="#"></td>
                                                <td>Item1</td>
                                                <td>Ante turpis integer aliquet porttitor.</td>
												<td>Three</td>
                                                <td>29.99</td>
                                                <td> <form method="post" action="#">
                                                    <a href="{url action = "edit_products_list_worker_display"}" class="button">Edytuj</a>
                                                    <input type="submit" name="delete-item" id="delete-item" value="usunąć" class="primary">
                                                </form></td>                                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
						</div>
					</div>
{/block}