{extends file = "default.html"}
{block name=content}
							<!-- Content -->
                            <section id="banner">
                                <div class="content" style="display: block; width: 50%;">
                                    <header>
                                        <h1>{$name}</h1>
                                        <span>Cena: </span><h3>{$price} zł</h3>
                                    </header>
                                    <form type="post" action="#">
                                        <input style="display: inline; width: 25%;" type="text" placeholder="Ilość">
                                        <br>
                                        <br>
                                        <input class="primary" style="display: inline-block; width: 100%;" type="submit" value="Do koszyka">
                                    </form>
                                </div>
                                
                                    <span style="display: block; width: 30%;" class="image object">
                                        <img src="{$image}" alt="" />
                                    </span>
                                
                            </section>
                                <hr class="major" />
                                <article>
                                    <h2>Opis produkty</h2>
                                    <p>{$description}</p>
                                </article>
						</div>
					</div>
{/block}