{extends file = "default.html"}
{block name=content}
                                <br>
                                <h2>Użytkownicy</h2>
                                <br>

                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr >
                                                <th>Login</th>
                                                <th>Rola</th>
                                                <th>Data aktywacji</th>
                                                <th>Data deaktywacji</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Winner228</td>
                                                <td>user</td>
                                                <td>09.05.2024</td>
                                                <td> — </td>
												<td>
													<a href="{url action = "edit_users_list_display"}" class="button">Edytuj</a>
												</td>
                                                <td><form method="post" action="#">
                                                    <input class="primary" type="submit" name="delete-user" id="delete-user" value="Usunąć">
                                                </form></td>
                                                                                              
                                            </tr>
                                            <tr>
                                                <td>Winner228</td>
                                                <td>user</td>
                                                <td>09.05.2024</td>
                                                <td> — </td>
												<td>
													<a href="{url action = "edit_users_list_display"}" class="button">Edytuj</a>
												</td>
                                                <td><form method="post" action="#">
                                                    <input class="primary" type="submit" name="delete-user" id="delete-user" value="Usunąć">
                                                </form></td>
                                                                                              
                                            </tr>
                                            <tr>
                                                <td>Winner228</td>
                                                <td>user</td>
                                                <td>09.05.2024</td>
                                                <td> — </td>
												<td>
													<a href="{url action = "edit_users_list_display"}" class="button">Edytuj</a>
												</td>
                                                <td><form method="post" action="#">
                                                    <input class="primary" type="submit" name="delete-user" id="delete-user" value="Usunąć">
                                                </form></td>
                                                                                              
                                            </tr>
                                            <tr>
                                                <td>Winner228</td>
                                                <td>user</td>
                                                <td>09.05.2024</td>
                                                <td> — </td>
												<td>
													<a href="{url action = "edit_users_list_display"}" class="button">Edytuj</a>
												</td>
                                                <td><form method="post" action="#">
                                                    <input class="primary" type="submit" name="delete-user" id="delete-user" value="Usunąć">
                                                </form></td>
                                                                                              
                                            </tr>
                                            <tr>
                                                <td>Winner228</td>
                                                <td>user</td>
                                                <td>09.05.2024</td>
                                                <td> — </td>
												<td>
													<a href="{url action = "edit_users_list_display"}" class="button">Edytuj</a>
												</td>
                                                <td><form method="post" action="#">
                                                    <input class="primary" type="submit" name="delete-user" id="delete-user" value="Usunąć">
                                                </form></td>
                                                                                              
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
						</div>
					</div>
{/block}